$navigation-menu-size: 150px;
$navigation-logo-height: $navigation-menu-size * 0.4;
$display-header: 38px;
$font-roboto-condensed: "Roboto Condensed";
$title-margin-top: 80px;
$title-margin-bottom: 80px;
