@import "_options.scss";
@import "_colors.scss";

:root {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  // font-family: "Montserrat";
  font-family: "Roboto Condensed";
  // padding-bottom: 200px;
  background-color: $main-section-bgc-color;

  .section {
    min-height: 100dvh;
    background-color: #fafafa;

    .section-header {
      display: flex;
      justify-content: center;
      padding: 0 5%;
      padding-top: $navigation-menu-size;
      padding-bottom: 100px;
      background-color: $main-section-bgc-color;

      .header {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        .header-title {
          text-align: left;
          font-size: $display-header;
          color: #fafafa;
          margin-bottom: 0;
          text-transform: uppercase;
        }

        .header-subtitle {
          text-align: left;
          color: $yellow-color;
        }
      }

      .header-description {
        max-width: 500px;
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        padding: 0 30px;
        line-height: 30px;
        text-align: justify;
        color: #fff;
        font-size: 20px;
        line-height: 40px;
      }
    }
  }
}

.top-menu-container.top-menu-active {
  background-color: rgba(0, 0, 0, 0.7);
  // background-color: rgba($base-color-blue, $alpha: 0.7);
  height: 50px;
  transition: 0.5s all;
  height: 50px;
  transition: 0.5s all;
  backdrop-filter: blur(10px);

  .top-menu {
    li {
      a {
        color: #fff;

        &.menu-active {
          color: #fff;
        }
      }
    }
  }

  .logo-container {
    .navi-logo {
      height: 25px;
    }
  }
}

.top-menu-container {
  display: flex;
  height: $navigation-menu-size;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: transparent;

  .top-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    padding: 0px 20px;

    li {
      list-style: none;
      padding: 0 15px;
      cursor: pointer;

      a {
        text-transform: uppercase;
        position: relative;
        display: block;
        // color: $base-color-blue;
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        font-weight: normal;

        &::before {
          content: "";
          width: 100%;
          height: 2px;
          position: absolute;
          left: 0;
          bottom: -10px;
          background: #fff;
          transition: 0.5s transform ease;
          transform: scale3d(0, 1, 1);
          transform-origin: 0 50%;
        }

        &:hover::before {
          transform: scale3d(1, 1, 1);
          transform-origin: 0 50%;
        }

        &::before {
          background-color: $base-color-red;
          transform-origin: 100% 50%;
        }

        &.menu-active {
          color: #fff;
          cursor: default;

          &::before {
            background-color: $base-color-red;
            transform: scale3d(1, 1, 1);
            transform-origin: 0 50%;
          }
        }
      }
    }
  }

  .language-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-right: 10px;

    img {
      height: 25px;
      padding: 0 5px;
      cursor: pointer;
    }
  }

  .logo-container {
    display: flex;
    align-items: center;

    .navi-logo {
      height: $navigation-logo-height;
      padding: 0 20px;
    }
  }
}

.content-section {
  width: 100%;
  height: 100dvh;
  overflow-x: hidden;
  padding-top: $navigation-menu-size;
  background-color: $main-section-bgc-color;
  position: relative;
  background: linear-gradient(rgba(0, 0, 80, 0.4), rgba(0, 0, 0, 0.7)),
    url("../images/backgroundHeroTMS.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;

  .content-title {
    // font-family: "Montserrat";
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    transform: translateX(-1000px);
    // position: absolute;
    // top: 150px;
    // margin-top: 150px;
    margin-top: 100px;
    margin-bottom: 30px;
    // color: $yellow-color;
    // left: 150px;
  }

  .subheader{
    position: absolute;
    top: 280px;
    font-weight: 300;
    font-size: 36px;
  }

  .content-subtitle {
    display: none;
    font-size: 40px;
    font-weight: lighter;
    // position: absolute;
    top: 300px;
    margin: 10px;
    color: $yellow-color;
  }

  .content-paragraph {
    text-align: center;
    font-size: 20px;
    width: 40%;
    // position: absolute;
    line-height: 30px;
    top: 350px;
    margin-top: 0;
  }

  .content-title,
  .content-subtitle,
  .content-paragraph {
    opacity: 0;
    animation-fill-mode: forwards;
  }

  @keyframes fadeInLeft {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  .call-to-action {
    margin-top: 200px;
    font-size: 18px;
    height: 70px;
    width: 270px;
    // background-color: rgba($base-color-blue, 1);
    background-color: rgba(0,0,0, 0.5);
    color: $yellow-color;
    // border: 2px solid $yellow-color;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
     border: 2px solid $yellow-color;
     color: #fff;
    }
  }

  // a {
  //   position: absolute;
  //   bottom: 100px;
  //   color: $base-color-red;
  //   text-decoration: none;
  // }

  a span {
    position: absolute;
    top: -60px;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 2px solid $base-color-red;
    border-radius: 100%;
    box-sizing: border-box;
  }
  a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 2px solid $base-color-red;
    border-bottom: 2px solid $base-color-red;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }

  a span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    opacity: 0;
    animation: scr 3s infinite;
    box-sizing: border-box;
  }

  @keyframes scr {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}

.benefits-section {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 30, 0.2), rgba(0, 0, 50, 0.4)),
    url("../images/backgroundBenefits.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;

  .benefits-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .benefits-card {
    margin: 25px;
    position: relative;
    min-width: 350px;
    height: 400px;
    // background-color: #3498db;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    box-sizing: border-box;

    .card-front {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.7);
      color: #000;
      font-size: 20px;
      transition: 1s;
      padding: 30px;
      box-sizing: border-box;
      line-height: 30px;
      text-align: center;
      font-weight: 500;
      // color: $base-color-blue;
      color: #fff;

      img {
        height: 150px;
        margin-bottom: 40px;
        border-radius: 30%;
      }
    }

    .card-back {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      font-size: 20px;
      top: -400px;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 40px;
      line-height: 30px;
      box-sizing: border-box;
      background-color: rgba($base-color-blue, 0);
      color: #fff;
      transition: 1s;
    }

    &:hover .card-back {
      top: 0;
    }

    &:hover .card-front {
      top: 400px;
    }
  }

  .benefits-card:hover {
    background-color: rgba($base-color-blue, 0.6);
  }
}

.trust-section {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 30, 0.5), rgba(0, 0, 30, 0.7)),
    url("../images/backgroundTrust.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  .trust-company-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    padding: 100px 0;

    .trust-company {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
      width: 150px;
      transition: 0.5s all;
      margin: 25px;
      padding: 10px;
      background-color: #fff;
      box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);

      .company-link {
        opacity: 0;
        position: absolute;
        bottom: 10px;
        right: 15px;

        .company-btn {
          color: $base-color-blue;
          border: 1px solid $base-color-blue;
          color: $base-color-blue;
          border-radius: 10px;
          padding: 2px 5px;
          font-size: 10px;
          margin-right: 3px;
        }
        .company-arrow {
          color: $base-color-blue;
          font-weight: bold;
          width: 30px;
        }
      }

      &:hover {
        transform: scale(1.2);
        box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
        cursor: pointer;
      }

      &:hover .company-link {
        opacity: 1;
        transition: 2s all;
      }

      .trust-company-img {
        height: 40px;
      }
    }
  }
}

.offer-section {
  .offer-solution {
    height: 100%;
    padding: 5% 20%;
    background-color: #fff;
    color: $main-section-bgc-color;

    ul {
      h1 {
        font-size: $display-header;
        color: $base-color-blue;
      }
      li {
        list-style: none;
        margin-top: 30px;
      }
    }
  }
}

.about-section {
  ul {
    list-style: none;
    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        color: $yellow-color;
      }
    }
  }
}

.section-job {
  display: flex;
  flex-direction: column;
  .job-offer-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    .card-job-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba($base-color-blue, 0.6);
      margin: 20px 50px;
      transition: 1s all;
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);

      .close {
        display: none;
      }

      &:hover {
        cursor: pointer;
        background-color: rgba($base-color-blue, 1);
        transform: scale(1.2);
      }

      .card-job-avatar {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;

        .more {
          font-size: 14px;
          display: inline;
          position: absolute;
          color: #fff;
          text-transform: uppercase;
          font-weight: bold;
          bottom: 10px;
          left: 50%;
          transform: translateX(-50%);
          background-color: rgba($base-color-red, 0.9);
          padding: 10px 20px;

          &:hover {
            color: $base-color-red;
            background-color: #fff;
          }
        }
      }

      .card-job-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        color: $base-color-blue;
        background-color: #fff;
        padding: 10px 50px;
        width: 100%;
        box-sizing: border-box;

        h2 {
          font-size: 18px;
          font-weight: normal;
          margin-bottom: 3px;
        }

        h3 {
          color: #bababa;
          font-size: 14px;
          font-weight: normal;
          margin-top: 0;
          margin-bottom: 20px;
        }
      }

      .card-job-content {
        display: none;
      }
    }

    .card-job-container.card-job-active {
      position: relative;
      background-color: $card-bgc-color;
      max-width: 450px;
      padding: 30px 50px;
      // border-radius: 5px;
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);

      &:hover {
        cursor: auto;
        transform: scale(1);
      }

      .more {
        display: none;
      }

      .close {
        display: block;
        position: absolute;
        top: 1px;
        right: 10px;
        font-size: 36px;
        color: #aaa;
        font-weight: bold;
        z-index: 1;
      }

      .close:hover,
      .close:focus {
        color: $base-color-blue;
        text-decoration: none;
        cursor: pointer;
      }

      .card-job-avatar {
        position: absolute;
        top: 20px;
        right: 0px;
        padding: 0;

        img {
          height: 150px;
        }
      }

      .card-job-header {
        display: inline;
        width: 100%;
        border-bottom: 1px solid #b3b3b3;
        background-color: transparent;
        padding: 0;
        color: $base-color-blue;

        h2 {
          font-size: 24px;
          font-weight: bold;
        }

        h3 {
          font-size: 16px;
        }
      }

      .card-job-content {
        display: inline;
        font-family: "Roboto Condensed";
        line-height: 25px;
        // height: 100%;
      }

      .requirements {
        ul {
          li {
            list-style-type: "✓";
            padding-left: 2ch;
          }

          ::marker {
            color: $base-color-red;
            font-size: 24px;
          }
        }
      }

      .offer {
        ul {
          li {
            list-style-type: "★";
            padding-left: 2ch;
          }

          ::marker {
            color: #fac31f;
            font-size: 24px;
          }
        }
      }
    }
  }

  .apply-btn {
    font-family: "Roboto Condensed";
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    background-color: #fafafa;
    color: $base-color-blue;
    border: 1px solid $base-color-blue;
    float: right;
    transition: 0.3s all;

    &:hover {
      color: #fff;
      background-color: $base-color-blue;
      cursor: pointer;
    }
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);

    .apply-container {
      display: flex;
      position: fixed;
      z-index: 1;
      top: 50%;
      left: 50%;
      background-color: #fff;
      color: $base-color-blue;
      max-width: 300px;
      flex-direction: column;
      padding: 20px 50px;
      font-family: "Roboto Condensed";
      transform: translate(-50%, -50%);

      img {
        margin: 30px;
      }

      h1 {
        text-align: center;
        margin-bottom: 50px;
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        .item {
          position: relative;
          margin-bottom: 35px;
          width: 100%;
        }

        label {
          position: absolute;
          bottom: 0;
          left: 5px;
          transition: 1s all;
          line-height: 40px;
        }

        input {
          padding: 10px 35px;
          width: 100%;
          border: none;
          border-bottom: 1px solid #b3b3b3;
          box-sizing: border-box;
          font-family: "Roboto Condensed";
          background-color: transparent;
          color: $main-section-bgc-color;

          &:focus {
            outline: none;
          }
        }

        // input[type="file"] {
        //   border: none;
        // }

        .file-button {
          color: transparent;
          display: flex;
          padding: 0;
        }

        .file-button::-webkit-file-upload-button {
          visibility: hidden;
        }

        .file-button::before {
          content: "Załącz CV";
          display: inline-block;
          background-color: #fff;
          border: 1px solid $base-color-blue;
          color: $base-color-blue;
          padding: 10px 20px;
          outline: none;
          white-space: nowrap;
          cursor: pointer;
          text-align: center;
          transition: 0.3s all;
        }

        .file-button:hover::before {
          background-color: $base-color-blue;
          color: #fff;
        }

        input:hover + label,
        input:focus + label,
        input:valid + label {
          bottom: 20px;
          opacity: 0.8;
          font-size: 12px;
        }

        .btn-container {
          display: flex;
          width: 100%;
          flex-direction: row;
          justify-content: space-between;

          button {
            font-family: "Roboto Condensed";
            padding: 10px 20px;
            background-color: #fff;
            color: $base-color-blue;
            cursor: pointer;
            border: 1px solid $base-color-blue;
            // margin-left: 10px;
            transition: 0.3s all;

            &:hover {
              background-color: $base-color-blue;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.case-section {
  .article-container {
    display: flex;
    flex-direction: column;

    .article.show {
      width: 100%;
    }

    .article {
      display: flex;
      flex-direction: row;
      background-color: #fff;
      overflow: hidden;
      width: 0;
      transition: 0.5s all;

      .article-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: "Roboto Condensed";
        font-size: 16px;
        font-weight: normal;
        line-height: 25px;
        padding-left: 8%;
        padding-right: 8%;
        text-align: justify;
        width: 50%;
        box-sizing: border-box;

        .article-title {
          color: $base-color-blue;
          text-align: left;
          margin-bottom: 30px;
        }

        span {
          text-indent: 1.5em;
        }

        a {
          align-self: flex-end;
          float: right;
          text-decoration: none;
          margin-top: 50px;

          button {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Roboto Condensed";
            font-size: 16px;
            width: 150px;
            border: none;
            padding: 10px 20px;
            margin-bottom: 20px;
            background-color: #fff;
            color: $base-color-blue;
            cursor: pointer;
            transition: 0.3s all;

            &:hover {
              background-color: $base-color-blue;
              color: #fff;
            }

            img {
              height: 20px;
              padding-right: 10px;
            }
          }
        }
      }

      .article-header {
        text-align: center;
        width: 50%;
        height: 500px;
        box-sizing: border-box;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.contact-section {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $main-section-bgc-color;
  background-image: url("../images/bg_contact.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .contact-section-title {
    font-size: $display-header;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 80px;
  }

  .contact-container {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    align-items: center;
    position: relative;

    .address-container {
      padding: 30px 50px;
      height: 75%;
      display: flex;
      flex-direction: column;
      justify-content: end;
      background-color: rgba($base-color-blue, $alpha: 0.9);

      .address-logo-container {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 80px;
        align-self: center;
        justify-self: start;

        .address-logo {
          height: 40px;
        }
      }

      .address {
        display: flex;
        flex-direction: row;
        margin: 30px 0px;
        align-items: center;
        border-top: 1px solid rgba(#b3b3b3, 0.7);

        img {
          height: 40px;
          width: 40px;
          margin-right: 20px;
        }

        div {
          display: flex;
          flex-direction: column;
        }
      }

      .email {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 20px;

        img {
          height: 40px;
          width: 40px;
          margin-right: 20px;
        }
      }

      .phone {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 20px;

        img {
          height: 40px;
          width: 40px;
          margin-right: 20px;
        }
      }

      .www {
        display: flex;
        justify-content: start;
        align-items: center;

        img {
          height: 40px;
          width: 40px;
          margin-right: 20px;
        }
      }

      .social-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;

        img {
          filter: grayscale(1);
          opacity: 0.7;
          height: 25px;
          margin: 0 5px;

          &:hover {
            filter: grayscale(0);
            opacity: 1;
          }
        }
      }
    }

    .form-containter {
      background-color: #fff;
      color: $base-color-blue;
      max-width: 300px;
      display: flex;
      flex-direction: column;
      padding: 50px 50px;
      font-family: "Roboto Condensed";

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        .item {
          position: relative;
          margin-bottom: 35px;
          width: 100%;
        }

        label {
          position: absolute;
          bottom: 0;
          left: 5px;
          transition: 1s all;
          line-height: 40px;
        }

        textarea + label {
          top: 0;
        }

        input,
        textarea {
          padding: 10px 35px;
          width: 100%;
          border: none;
          border-bottom: 1px solid #b3b3b3;
          box-sizing: border-box;
          font-family: "Roboto Condensed";
          background-color: transparent;
          color: $main-section-bgc-color;

          &:focus {
            outline: none;
          }
        }

        textarea:focus + label,
        textarea:hover + label,
        textarea:valid + label {
          top: -20px;
          font-size: 12px;
          opacity: 0.8;
        }

        input:hover + label,
        input:focus + label,
        input:valid + label {
          bottom: 20px;
          opacity: 0.8;
          font-size: 12px;
        }

        button {
          align-self: end;
          font-family: "Roboto Condensed";
          padding: 10px 20px;
          background-color: #fff;
          color: $base-color-blue;
          cursor: pointer;
          border: 1px solid $base-color-blue;
          transition: 0.3s all;

          &:hover {
            background-color: $base-color-blue;
            color: #fff;
          }
        }
      }
    }
  }
}

.main-footer {
  position: relative;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  height: 200px;
  background-color: rgba($base-color-blue, 1);
  overflow: hidden;

  .footer-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-left: 30px;

    .footer-logo {
      height: 100%;
      width: 100%;
    }
  }
  .footer-data {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    .footer-address {
      color: white;
      margin: 0 30px;

      h1 {
        font-size: 18px;
        font-weight: normal;
        margin-bottom: 25px;
      }

      h2 {
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 0;
        margin-top: 0;
      }
    }

    .footer-web {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      color: #fff;
      margin: 0 30px;

      .footer-web-header {
        color: $yellow-color;
      }

      ul {
        li {
          list-style: none;
          a {
            color: #fff;
            text-decoration: none;
            font-size: 14px;

            &:hover {
              color: $yellow-color;
            }
          }
        }
      }
    }

    .policy {
      color: #fff;
      margin: 0 30px;

      .policy-header {
        color: $yellow-color;
      }

      ul {
        li {
          list-style: none;
          a {
            color: #fff;
            font-size: 14px;
            text-decoration: none;

            &:hover {
              color: $yellow-color;
            }
          }
        }
      }
    }

    .social-container {
      margin: 0 30px;
      a {
        img {
          height: 30px;
          margin: 0 5px;
          filter: grayscale(1);

          &:hover {
            filter: grayscale(0);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  body {
    width: 100vw;
    overflow-x: hidden;
    .top-menu-container {
      position: fixed;
      top: 0;
      left: 0;
      margin: 0;
      background-color: $main-section-bgc-color;
      height: 50px;
      .logo-container {
        position: fixed;
        top: 10px;
        left: 10px;
        img {
          height: 30px;
        }
      }
      .menuBtn {
        height: 30px;
        width: 30px;

        position: absolute;
        right: 20px;
        top: 10px;
        z-index: 101;
        > span {
          background-color: #fff;
          border-radius: 1px;
          height: 2px;
          width: 100%;
          position: absolute;
          left: 50%;
          top: 50%;
          margin: -1px 0 0 -15px;
          transition: height 100ms;
          &:after,
          &:before {
            content: "";
            background-color: #fff;
            border-radius: 1px;
            height: 2px;
            width: 100%;
            position: absolute;
            left: 50%;
            margin-left: -15px;
            transition: all 200ms;
          }
          &:after {
            top: -7px;
          }
          &:before {
            bottom: -7px;
          }
        }
        &.act {
          > span {
            height: 0;
            &:after,
            &:before {
              background-color: $base-color-red;
              top: 1px;
            }
            &:after {
              transform: rotate(45deg);
            }
            &:before {
              transform: rotate(-45deg);
            }
          }
        }
      }
      .top-menu {
        background-color: $main-section-bgc-color;
        position: absolute;
        left: 0;
        top: 50px;
        z-index: 100;
        height: 100%;
        width: 100%;
        display: table;
        text-align: center;
        opacity: 1;
        transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transform: scale(0);
        display: table-cell;
        vertical-align: middle;
        margin: 0;
        padding: 0;

        li {
          padding: 20px;
          transition: all 400ms 510ms;
          opacity: 0;
          background-color: $main-section-bgc-color;
          &:nth-child(odd) {
            transform: translateX(30%);
          }
          &:nth-child(even) {
            transform: translateX(-30%);
          }
          &:last-child {
            transform: none;
          }
        }

        &.act {
          opacity: 1;
          transform: scale(1);
          margin: 0;

          li {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }

      .language-container {
        display: none;
      }
    }
    .top-menu-container.top-menu-active {
      height: 50px;
      background-color: $main-section-bgc-color;

      .top-menu {
        position: absolute;
        background-color: $main-section-bgc-color;

        li {
          background-color: $main-section-bgc-color;
        }
      }

      .logo-container {
        .navi-logo {
          height: 36px;
        }
      }
    }

    .content-section {
      .content-title {
        font-size: 30px;
        left: auto;
        text-align: center;
        margin-top: 0;
      }

      .content-subtitle {
        font-size: 24px;
        left: auto;
        bottom: 350px;
      }
      .content-paragraph {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
      }
    }

    .section {
      .section-header {
        display: flex;
        flex-direction: column;
        padding: 50px 20px;

        .header {
          .header-title {
            text-align: center;
            font-size: 24px;
          }
          .header-subtitle {
            text-align: center;
            font-size: 18px;
          }
        }
        .header-description {
          margin-top: 20px;
          text-align: justify;
          padding: 0;
          box-sizing: border-box;
          padding: 15px;
        }
      }
    }
    .about-section {
      min-height: 100%;
    }

    .trust-section.section {
      .trust-company-container {
        padding-bottom: 20px;
        height: 100%;
        .trust-company {
          height: 100px;
          width: 100px;
          margin: 0;
          .trust-company-img {
            height: auto;
            max-width: 95px;
          }
        }
      }
    }
    .offer-section {
      .offer-solution {
        padding: 5% 20px;
        ul {
          padding: 0;
        }
      }
    }
    .main-footer {
      display: flex;
      height: auto;
      padding-top: 20px;
      // flex-direction: column;
      .footer-logo-container {
        position: absolute;
        top: 15px;
        left: 10px;
        margin-left: 0;
        .footer-logo {
          height: 60px;
        }
      }
      .footer-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .footer-address {
          width: 100%;
          text-align: center;
          margin: 0;
          margin-bottom: 30px;
          padding-bottom: 20px;
          border-bottom: 1px solid rgba(#fafafa, 0.3);
        }

        .footer-web {
          display: flex;
          justify-content: center;
          align-items: end;
          padding: 0;
          padding-bottom: 50px;
          margin: 0;
          margin-bottom: 20px;
          border-bottom: 1px solid rgba(#fafafa, 0.3);
          width: 100%;

          .footer-web-header {
            font-size: 24px;
          }

          ul {
            margin: 0;
            padding: 0;

            li {
              a {
                line-height: 30px;
                font-size: 18px;
              }
            }
          }
        }

        .policy {
          display: flex;
          justify-content: center;
          margin: 0;
          margin-bottom: 40px;
          border-bottom: 1px solid rgba(#fafafa, 0.3);
          width: 100%;
          padding-bottom: 50px;

          ul {
            padding: 0;
            .policy-header {
              font-size: 24px;
            }
            li {
              a {
                line-height: 30px;
                font-size: 18px;
              }
            }
          }
        }

        .social-container {
          display: flex;
          justify-content: center;
          width: 100%;
          margin-bottom: 20px;
        }
      }
    }

    .contact-section {
      .contact-container {
        .address-container {
          position: relative;
          padding-top: 0;
          .address-logo-container {
            display: block;
            position: absolute;
            top: 200px;
            .address-logo {
              height: 70px;
            }
          }
          .address {
            margin: 0;
          }
        }
      }
    }

    .case-section {
      .article-container {
        .article {
          background-color: $main-section-bgc-color;
          position: relative;
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;

          .article-description {
            position: absolute;
            width: 100%;
            height: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
            color: #fff;
            z-index: 3;

            .article-title {
              color: $yellow-color;
            }
          }

          .article-header {
            width: 100%;
            z-index: 1;
            opacity: 0.4;
          }
        }
      }
    }
  } //body
}

#random-text-container .animated-text {
  position: absolute;
  font-size: 50px;
  font-family: "Montserrat";
  font-weight: 900;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  animation: scaleUp 5s ease-in-out forwards;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
